<div class="container">
    <div class="py-5 text-center">

        <% if (error) { %>
        <div class="error">
            <%= error %>
        </div>
        <br>
        <% } %>

        <h2>CREATE A SURVEY</h2>
        <hr class="mb-4">
        <p class="lead">The information you provide here will create a survey. At the end of the creation process, you
            will have to transfer some XRP to unlock it. This amount will be used to pay your participants.</p>
    </div>

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form class="needs-validation" method="POST" novalidate>

                <div class="mb-3">
                    <label for="pp"><b>Payment Pointer</b></label>
                    <p>Please provide your <a href="https://www.xrptipbot.com">XRP Tip Bot</a> payment pointer. This will associate you with your survey and will be used to check whether you have deposited funds to unlock the survey.</p>
                    <input type="text" class="form-control" id="pp" name="pp" placeholder="Please input ..." required>
                    <div class="invalid-feedback">
                        Please input a valid payment pointer.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="survey-name"><b>Survey Name</b></label>
                    <input type="text" class="form-control" name="survey-name" placeholder="Please input ..." required>
                    <div class="invalid-feedback">
                        Please input a name for the suvey.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="survey-instruction"><b>Instructions</b></label>
                    <p>Please use HTML tags if you want to style the instructions.</p>
                    <textarea class="form-control" maxlength=3000 name="survey-instruction" placeholder="Please input ..."
                        required></textarea>
                    <div class="invalid-feedback">
                        Please input the instructions for the suvey.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="survey-demographics"><b>Demographics</b></label>
                    <p>We asked for the following demographics: age, race, ethnicity, sex, education, nationality.</p>
                </div>

                <div class="mb-3">
                    <label for="survey-questions"><b>Questions</b></label>
                    <p>Please add your questions and answer choices.</p>
                    <div id="survey-questions"></div>
                    <button class="btn btn-primary" type="button" id="button-questions">Add</button>
                </div>

                <div class="mb-3">
                    <label for="survey-price"><b>Price per answer</b></label>
                    <p>Please indicate what you are willing to spend on each answer. The price should be
                        specified in XRP. The minimum is 0.01 XRP.</p>
                    <input type="number" min="0.01" step="0.01" class="form-control" name="survey-price" placeholder="Please input ..."
                        required>
                    <div class="invalid-feedback">
                        Please input a valid price per answer.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="survey-codes"><b>Number of invite codes</b></label>
                    <p>Please indicate how many invite codes you would like to generate.</p>
                    <input type="number" min="1" step="1" class="form-control" name="survey-codes" placeholder="Please input ..."
                        required>
                    <div class="invalid-feedback">
                        Please input a valid number.
                    </div>
                </div>


                <input type="text" id="form-origin" name="form-origin" value="create" hidden>

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Create</button>
            </form>
        </div>
    </div>

    <%- include('footer'); -%>
</div>

<%- include('bootstrap'); -%>
<script src="/js/payment-pointer-validation.js"></script>
<script src="js/form-validation.js"></script>
<script src="js/create-questions.js"></script>