<div class="container">
  <div class="py-5 text-center">
    <h2>INSTRUCTIONS</h2>
    <hr class="mb-4">
    <h5>PLEASE READ THE INSTRUCTIONS CAREFULLY BEFORE STARTING THE EXPERIMENT!</h5>
  </div>

  <div class="row">
    <div class="col-md-10 offset-md-1">

      <%- instruction -%>

      <form novalidate method="POST">

        <input type="text" id="form-origin" name="form-origin" value="instructions" hidden>
        <input type="text" id="pp" name="pp" value=<%=pointer %> hidden>
        <input type="text" id="balance" name="balance" value=<%=balance %> hidden>

        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Begin</button>
      </form>
    </div>
  </div>

  <%- include('balance'); -%>
  <%- include('footer'); -%>
</div>

<%- include('bootstrap'); -%>