<div class="container">
    <div class="py-5 text-center">

        <h2>ADMIN STUFF</h2>
        <hr class="mb-4">
        <p class="lead">Please read the information on this page very carefully!</p>
    </div>

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h4>Your Survey ID is: <%- id %></h4>
        </div>
        <hr class="mb-4">
    </div>
    
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h4>Here are your invite codes:</h4>
            <p>Store them in a save place and hand them out to your users.</p>
            <ul>
                <% codes.forEach(function(code){ %>
                <li><samp>
                        <%- code %></samp></li>
                <% }); %>
            </ul>
        </div>
        <hr class="mb-4">
    </div>

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h4>Activate survey:</h4>
            <p>In order to activate your survey, you need to deposit the funds to pay your users. The total
                amount is computed as</p>
            <p>(# of demographics (6) + # of questions) * price per answer * # of invite codes</p>
            <p>By clicking on the following button, you will be redirected to deposit these funds.</p>
            <p><b>Your total is <%- deposit %> XRP</b></p>
            <p>Please transfer this amount to <b>$ilpsurvey.localtunnel.me/<%- id %></b></p>
            <p>Once the survey is funded, it will automatically be activated. Funds that are not needed are kept by the developer.</p>
        </div>
        <hr class="mb-4">
    </div>

    <%- include('footer'); -%>
</div>

<%- include('bootstrap'); -%>