<div class="container">
    <div class="py-5 text-center">

        <h2>ILP SURVEYS</h2>
        <hr class="mb-4">
        <p class="lead">Here is a selection of surveys that are active at the moment. Beware that all of them only pay out when you finish them.</p>
    </div>

    <div class="row">
        <% if (surveys) { %>
        <% for (let id in surveys) { %>
        <div class="col-lg-3 col-md-6">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="img/question.jpg" alt="???">
                <% if (surveys[id].active !== true) { %>
                <div id="overlay-pic" class="card-img-overlay">
                    <p id="overlay-text" class="card-text">INACTIVE</p>
                </div>
                <% }; %>
                <div class="card-body">
                    <p class="card-text">
                        <%- surveys[id].name %>
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <form action="survey/<%- id %>" method="GET">
                            <div class="btn-group">
                                <% if (surveys[id].active === true) { %>
                                <button type="submit" class="btn btn-sm btn-outline-secondary">Participate</button>
                                <% } else { %>
                                <button disabled type="submit" class="btn btn-sm btn-outline-secondary">Participate</button>
                                <% }; %>
                            </div>
                        </form>
                        <small class="text-muted">
                            <%- surveys[id].price %> XRP</small>
                    </div>
                </div>
            </div>

        </div>
        <% }; %>
        <% } %>
    </div>

    <%- include('footer'); -%>
</div>

<%- include('bootstrap'); -%>