<div class="container">
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: <%- n/total * 100 %>%" aria-valuenow="<%- n %>" aria-valuemax="<%- total %>"></div>
  </div>
  <div class="py-5 text-center">
    <h2>QUESTIONS</h2>
    <hr class="mb-4">
    <h5>DO NOT HIT THE RELOAD OR BACK BUTTON OR YOU WILL EXIT THE STUDY.</h5>
  </div>

  <div class="row">
    <div class="col-md-8 offset-md-2">
        <%- question -%>
      <form class="needs-validation" method="POST" novalidate>
        <% for (let i=1; i < options.length+1; i++) { %>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="options" id="option<%- i %>" value="option<%- i %>" required>
          <label class="form-check-label" for="option<%- i %>"><%- options[i-1] %></label>
        </div>
        <% }; %>

        <input type="text" id="pp" name="pp" value=<%= pointer %> hidden>
        <input type="text" id="form-origin" name="form-origin" value="question" hidden>
        <input type="text" id="balance" name="balance" value=<%= balance %> hidden>
        <input type="text" id="balance" name="n" value=<%= n %> hidden>

        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
      </form>
    </div>
  </div>

  <%- include('balance'); -%>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">
      <!--&copy;--> Demo</p>
    <!-- <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Privacy</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Support</a></li>
        </ul> -->
  </footer>
</div>

<%- include('bootstrap'); -%>
<script src="/js/form-validation.js"></script>