<!doctype html>
<html lang="en">

<div class="container">
    <div class="py-5 text-center">
        <h2>THANK YOU FOR PARTICIPATING!</h2>
        <hr class="mb-4">
    </div>

    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h5>We sent <%= balance %> XRP to your payment pointer</h5>
            <h5><%= pointer %></h5>
            <br>
            <p>In order to withdraw your funds, visit <a href="https://www.xrptipbot.com/?login=do">XRP Tip Bot</a>.</p>
        </div>
    </div>
    
    <%- include('balance'); -%>
    <%- include('footer'); -%>
</div>

<%- include('bootstrap'); -%>