<div class="container">
    <div class="py-5 text-center">

        <% if (error) { %>
            <div class="error">
                <%= error %>
            </div>
            <br>
        <% } %>

        <h2>WELCOME TO</h2>
        <h2><%= id %></h2>
        <hr class="mb-4">
        <h5>PLEASE PROVIDE US WITH YOUR PAYMENT POINTER SUCH THAT YOU CAN GET PAID.</h5>
    </div>

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h5>What is a payment pointer?</h5>
            <p>A payment pointer is an address that can receive a currency via the Interledger Protocol.</p>
            <h5>How do I get a payment pointer?</h5>
            <p>You can create your own payment pointer <a href="pointer">here</a>.</p>
            <hr class="mb-4">
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form class="needs-validation" method="POST" novalidate>

                <div class="mb-3">
                    <label for="pp">Payment Pointer</label>
                    <% if (pointer) { %>
                        <input type="text" class="form-control" id="pp" name="pp" value=<%= pointer %> required>
                    <% }else{ %>
                        <input type="text" class="form-control" id="pp" name="pp" placeholder="Please input ..." required>
                     <% } %>
                    <div class="invalid-feedback">
                        Please input a valid payment pointer.
                    </div>
                </div>

                <input type="text" id="form-origin" name="form-origin" value="welcome" hidden>
                <input type="text" id="balance" name="balance" value=<%= balance %> hidden>

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Save</button>
            </form>
        </div>
    </div>

    <%- include('balance'); -%>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">
            <!--&copy;--> Demo</p>
        <!-- <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Privacy</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Support</a></li>
            </ul> -->
    </footer>
</div>

<%- include('bootstrap'); -%>
<script src="js/payment-pointer-validation.js"></script>
<script src="js/payment-pointer-insertion.js"></script>