<div class="container">
    <div class="py-5 text-center">

        <% if (error) { %>
        <div class="error">
            <%= error %>
        </div>
        <br>
        <% } %>

        <h2>WELCOME TO</h2>
        <h2>-
            <%= name %>-</h2>
        <hr class="mb-4">
        <p class="lead">Please provide us with a participation code and a payment pointer.</p>
    </div>

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h5>What is a participation code and where do I get it from?</h5>
            <p>In order to participate, you have to be invited by the creator of the survey. Please contact the creator
                and ask for a participation code.</p>
            <h5>What is a payment pointer and how do I get one?</h5>
            <p>A payment pointer is an address that can receive a currency via the Interledger Protocol. The easiest
                way to get a payment pointer is through <a href="https://www.xrptipbot.com/?login=do">XRP
                Tip Bot</a>, that let's you create one using your Twitter, reddit, or Discord login
                credentials. To learn more about XRP Tip Bot, visit their <a href="https://www.xrptipbot.com">webpage</a>.</p>
            <hr class="mb-4">
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form class="needs-validation" method="POST" novalidate>

                <div class="mb-3">
                    <label for="pc">Participation Code</label>
                    <input type="text" class="form-control" id="pc" name="pc" placeholder="Please input ..." required>
                    <div class="invalid-feedback">
                        Please input a valid participation code.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="pp">Payment Pointer</label>
                    <input type="text" class="form-control" id="pp" name="pp" placeholder="Please input ..." required>
                    <div class="invalid-feedback">
                        Please input a valid payment pointer.
                    </div>
                </div>

                <input type="text" id="form-origin" name="form-origin" value="welcome" hidden>
                <input type="text" id="balance" name="balance" value=<%=balance %> hidden>

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Save</button>
            </form>
        </div>
    </div>

    <%- include('balance'); -%>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">
            <!--&copy;--> Demo</p>
        <!-- <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Privacy</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Support</a></li>
            </ul> -->
    </footer>
</div>

<%- include('bootstrap'); -%>
<script src="/js/payment-pointer-validation.js"></script>